* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

ul, li {
    list-style: none;
    line-height: 30px;
  
}

a{
    text-decoration: none;
    color: currentColor;
    display: inline;
}

.html{
    font-family: 'Roboto', sans-serif;
}

:root {
	--dark-blue: #141922;
	--dark-gray: #282828;
    --dark-top: rgb(8, 11, 18);
	--sidebar-color: #000000;
	--lightgrey: #7d7f84;
	--sidebar-width: 230px;
}


.container-body {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.content {
	flex-grow: 1;
	overflow: hidden;
	display: flex;
}

/*SIDEBAR */

.sidebar {
	flex-shrink: 0;
	overflow: hidden;
	background-color: var(--sidebar-color);
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;


}

.logo-lg{
    max-width: 130px;
}

.logo-favicon{
    display: none;
}

.menu-sidebar_icon,
.menu-playlist_icon,
.playlist {
    color: var(--lightgrey);
    
}




.playlist {
    flex-grow: 1;

}

.plus{
    font-size: 40px;
    display: flex;
}

{
    color: white;
}

.menu-playlist_icon{
display: flex;
align-items: center;
gap: 8px;
}

.menu__icon{
    display: flex;
    max-width: 22px;   
    gap: 8px;
}



.app{
    color: var(--lightgrey);
    display: flex;
    gap: 8px;
    flex-direction: column;
    
}

.download-icon {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--lightgrey)
}

.download-icon img{
    max-width: 16px;
}

.login{
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    font-weight: 600;
    margin: 0;
}

.login-icon{
    max-width: 23px;
    border: 1px solid currentColor;
    background-color: var(--lightgrey);
    border-radius: 50%;
    padding: 3px;
}

.menu__icon > span,
.playlist > li,
.add-playlist_title{
    font-weight: 600;
}

.menu-add-playlist{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.add-playlist_title{
    color: white;
    text-transform: uppercase;
    padding-bottom: 5px;
}

@media  screen and (max-width: 575px) {

    .sidebar{
        flex-basis: 50px;
            
    }

    .logo-lg,
    .menu-add-playlist,
    .menu__icon > span,
    .login > span,
    .app > span,
    .download-icon > span {
        display: none;
            
    }

    .logo-favicon {
        display: contents;
        color: white;

    }

    .menu-sidebar{
        flex-grow: 1;
    }
    .menu__icon{
        margin-bottom: 10px;
    }

}

/*MAIN*/

.main-content {
	flex-grow: 1;
	overflow-y: auto;
    overflow-x: hidden;
	background-color: var(--dark-blue);
    
}

.row-top{
    background-color: var(--dark-top);
    display: flex;
    justify-content: end;
	align-items: center;
    flex-shrink: 0;
}

.navbar{
    display: flex;
    justify-content: center;
    padding-top: 15px;
 
}
.menu-nav{
    display: flex;
    text-transform: uppercase;
    font-size: 12px;
    gap: 8px;
    color: var(--lightgrey);
    flex-wrap: wrap;
    justify-content: center;

    
}



.button-top{
    border-radius: 20px;
    border: 1px solid currentColor;
    padding: 10px;
    color: white;
    background-color: transparent;
    margin: 12px;
    flex-shrink: 0;
}


.content_music{
    color: white;
    padding: 26px;
    display: flex;
    flex-direction: column;
  
}

.title-list{
    padding: 20px;
}



.carousel{
    gap: 14px;
    display: flex;
}

.carousel-row{
    flex-shrink: 0;
}

.carousel_item{
    text-align: center;
    width: 160px;
    aspect-ratio: 1/1;
	object-fit: cover;
	object-position: center;
}



@media  screen and (max-width: 878px) {

    .carousel{
        flex-wrap: wrap;
       
    }
}


/*TOOLBAR */

.toolbar {
	display: flex;
    justify-content: space-between;
	align-items: center;
    background-color: var(--dark-gray);
    
}

.album-preview,
.album,
.album-icon,
.audio-command,
.audio_control,
.audio_icon{
    display: flex;
    align-items: center;
}

.album-preview {
	justify-content: space-between;
	padding-left: 11px;
    
}

.album-preview,
.audio-command{
    flex-basis: var(--sidebar-width);
    color: white;
}

.album {
	gap: 12px;
}

.album_figure {
	width: 42px;
    display: block;
}

.album_info {
	font-size: 14px;
}


.album-icon {
	flex-wrap: wrap;
	gap: 4px 10px;
    color: var(--lightgrey);
}

.title_album{
    line-height: 16px;
    color: white;
 
}
.subtitle{
    font-size: 13px;
    color: var(--lightgrey);
 
}


.player{
	flex-basis: 40%;
    padding: 0 5px;  
    
}

.player__icon{
    color: white;
    display: flex;
    justify-content: center;
    gap: 24px;  
    align-items: center; 
    padding-top: 16px; 

}


.fa-circle-play{
    font-size: 28px;
    gap: 15px;
}


.progress,
.progress-bar{
    border-radius: 999px;
}

.progress {
	background-color: var(--lightgrey);
	flex-grow: 1;
 
}
.progress-bar{
    background-color: white;
	height: 4px;
	width: 20%;
}

.time_line{
    display: flex;
    color: white;
    gap: 12px;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
}

.audio_icon{
    flex-basis: 100%;
    gap: 13px;
}

.audio-command{
    padding: 0 8px;
}

    
/*HOVER EFFECT*/

.fa-circle-play:hover{
    transform: scale(1.1);
}

.button-top:hover{
    transform: scale(1.1);
}

li:hover{
    color: white;
}

ul li a:hover,
.download-icon:hover,
.menu-playlist_icon:hover{
    color: white;
}

.album_info .subtitle:hover{
    color: white;
}

.timeline .progress-bar:hover{
   background-color: greenyellow;
}