* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

ul, li {
    list-style: none;
    line-height: 30px;
  
}

.html{
    font-family: 'Roboto', sans-serif;
}

.container-body{
    display: flex;
    height: 100vh;
}

:root{
    --lightgrey: rgb(113, 116, 121);
}

.aside-bar{
    background-color: rgb(40, 40, 40); 
}

.row{
    display: flex;    
    height: 80px;
    justify-content: space-between;
    flex-grow: 1;      
     
   
}

.col-3{
    display: flex; 
    flex-basis: calc(100% / 4);  
    flex-shrink: 0;    
   
}

.col-3__icon{
    color: white;
    display: flex;
    gap: 24px;  
    align-items: center;   
    
    
}

.col-6{
    flex-basis: calc( 100%*2/4) ;
    display: flex;    
    flex-direction: column;
    align-self: center;
}

.col-6__icon{
    color: white;
    display: flex;
    gap: 24px;  
    align-items: center; 
    padding-top: 16px; 
    flex-shrink: 0;

}

.fa-circle-play{
    font-size: 28px;
    margin: 0 10px;
}

.preview{
    line-height: 0px;
    flex-shrink: 0;
   
}

.preview_album{
    width: 50px;   
}

.title_album{
    line-height: 16px;
}
.title_song{
    font-size: 13px;
    color: var(--lightgrey);
 
}

.col-3__icon.short{
    color: var(--lightgrey);
    margin: 0 20px;
    gap: 16px;
}

.time_line{
    display: flex;
    justify-content: space-between;
    color: white;
    gap: 15px;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
}

.progress{
    background-color:var(--lightgrey);
    width: 400px;
    height: 3px;
}
