* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

ul, li {
    list-style: none;
    line-height: 30px;
  
}

a{
    text-decoration: none;
    color: currentColor;
    display: inline;
}

.html{
    font-family: 'Roboto', sans-serif;
}

:root {
	--dark-blue: #141922;
	--dark-gray: #282828;
    --dark-top: rgb(8, 11, 18);
	--sidebar-color: #000000;
	--lightgrey: #7d7f84;
	--sidebar-width: 230px;
}


.container-body {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.content {
	flex-grow: 1;
	overflow: hidden;
	display: flex;
}

/*SIDEBAR */

.sidebar {
	flex-shrink: 0;
	overflow: hidden;
	background-color: var(--sidebar-color);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px 0;


}

.logo-lg{
    width: 140px;
}

.logo-favicon{
    display: none;
}

.home{
    opacity: 0.9;
}

.menu-sidebar_icon,
.menu-playlist_icon,
.playlist {
    color: var(--lightgrey);
    
}


.plus{
    font-size: 40px;
}



.menu-playlist_icon{
display: flex;
align-items: center;
gap: 8px;
}

.app{
    color: var(--lightgrey);
    display: flex;
    gap: 8px;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 12px;
    
}

.download-icon {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: 6px;
    color: var(--lightgrey);
    border-bottom: 2px solid currentColor;
    
}

.download-icon img{
    max-width: 16px;
}

.login{
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    font-weight: 600;
    margin: 0;
}

.login-icon{
    max-width: 23px;
    border: 1px solid currentColor;
    background-color: var(--lightgrey);
    border-radius: 50%;
    padding: 3px;
}

.h-padding{
    display: flex;
    align-items: center;
    padding: 0 20px;
    gap: 10px;
}

.menu__icon > a,
.playlist > li,
.add-playlist_title{
    font-weight: 600;
    font-size: 15px;
}

.menu__icon img{
    width: 22px;
}



.menu-add-playlist{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.add-playlist_title{
    color: white;
    text-transform: uppercase;
    padding-bottom: 5px;
}

@media  screen and (max-width: 575px) {

    .sidebar{
        flex-basis: 50px;
            
    }

    .logo-lg,
    .menu-add-playlist,
    .h-padding > span,
    .login > span,
    .app > span,
    .download-icon > a {
        display: none;
            
    }

    .logo-favicon {
        display: block;
        width: 25px;
        margin: 0 auto;

    }

    .menu-sidebar{
        flex-grow: 1;
    }

    .menu__icon{
        margin-bottom: 10px;
    }

    .menu-sidebar_icon{
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .download-icon{
        justify-content: center;
    }

    .h-padding{
        padding: 0;
    }

}

/*MAIN*/

.main-content {
	flex-grow: 1;
	overflow-y: auto;
    overflow-x: hidden;
	background-color: var(--dark-blue);
    
}

.row-top{
    background-color: var(--dark-top);
    display: flex;
    justify-content: end;
	align-items: center;
    flex-shrink: 0;
}

.navbar{
    display: flex;
    justify-content: center;
    padding-top: 15px;
 
}
.menu-nav{
    display: flex;
    text-transform: uppercase;
    font-size: 12px;
    gap: 8px;
    color: var(--lightgrey);
    flex-wrap: wrap;
    justify-content: center;
    
}



.button-top{
    border-radius: 20px;
    border: 1px solid currentColor;
    padding: 10px;
    color: white;
    background-color: transparent;
    margin: 12px;
    flex-shrink: 0;
}


.content_music{
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
  
}

.title-list{
    padding: 20px 0;
}

.title_album{
    line-height: 20px;
}



.carousel{
    gap: 14px;
    display: flex;
}

.carousel-row{
    flex-shrink: 0;
}

.carousel_item{
    text-align: center;
    width: 160px;
    aspect-ratio: 1/1;
	object-fit: cover;
	object-position: center;
    flex-basis: calc(100% / 6);
}

.carousel_item img{
    margin-bottom: 5px;
}



@media  screen and (max-width: 878px) {

    .carousel{
        flex-wrap: wrap;     
    }
}

@media  screen and (max-width: 640px) {

    .carousel_item{
        flex-basis: calc(100% / 2 - 28px);
    }

    .carousel{
        justify-content: center;
    }

    .carousel-row{
        padding-left: 22px;
    }
}




/*TOOLBAR */

.toolbar {
	display: flex;
    justify-content: space-between;
	align-items: center;
    background-color: var(--dark-gray);
    
}

.album-preview,
.album,
.album-icon,
.audio-command,
.audio_control,
.audio_icon{
    display: flex;
    align-items: center;
}

.album-preview {
	justify-content: space-between;
	padding-left: 11px;
    
}

.album-preview,
.audio-command{
    flex-basis: var(--sidebar-width);
    color: white;
}

.album {
	gap: 12px;
}

.album_figure {
	width: 42px;
    display: block;
}

.album_info {
	font-size: 14px;
}


.album-icon {
	flex-wrap: wrap;
	gap: 4px 10px;
    color: var(--lightgrey);
}

.title_album{
    line-height: 16px;
    color: white;
 
}
.subtitle{
    font-size: 13px;
    color: var(--lightgrey); 
}


.player{
	flex-basis: 40%;
    padding: 0 5px;  
    
}

.player__icon{
    color: white;
    display: flex;
    justify-content: center;
    gap: 24px;  
    align-items: center; 
    padding-top: 16px; 

}


.fa-circle-play{
    font-size: 32px;
    gap: 15px;
}


.progress,
.progress-bar{
    border-radius: 999px;
}

.progress {
	background-color: var(--lightgrey);
	flex-grow: 1;
 
}
.progress-bar{
    background-color: white;
	height: 4px;
	width: 20%;
    position: relative;
}

.progress-bar::after{
    content: "";

}

.time_line{
    display: flex;
    color: white;
    gap: 12px;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
}

.audio_icon{
    flex-basis: 100%;
    gap: 13px;
}

.audio-command{
    padding: 0 8px;
}

    
/*HOVER EFFECT*/

.fa-circle-play:hover{
    transform: scale(1.1);
}

.button-top:hover{
    transform: scale(1.1);
}

li:hover{
    color: white;
}

ul li a:hover,
.download-icon a:hover,
.menu-playlist_icon:hover,
.menu__icon:hover{

    color: white;
}

.album_info .subtitle:hover{
    color: white;
}

.menu__icon,
.menu__item{
    position: relative;
}


.menu__icon::before{
    content: "";
    width: 4px;
	background-color: rgb(156, 248, 18);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
    display: none;
}

.menu__item::before{
    content: "";
    width: 30px;
    height: 2px;
	background-color: rgb(156, 248, 18);
	position: absolute;
    left: 50%;
    right: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
    display: none;
}



.menu__icon:hover::before,
.menu__icon:active::before{
    display: block;
}

.menu__item:hover::before,
.menu__item:active:before{
    display: block;
}


.progress-bar:hover{
   background-color: rgb(156, 248, 18);
}

.carousel_item{
    position: relative;

}

.carousel_item > img{
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;

}

.playhover {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-40%, -50%);
   
}

.carousel_item:hover .playhover{
    opacity: 1;
}

.carousel_item > img:hover{
    opacity: 0.3;
}

.progress-bar::after{
    width: 12px;
    height: 12px;
	background-color: white;
    border-radius: 50%;
	position: absolute;
    right: -10px;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.progress-bar:hover::after{
    display: block;
}



